<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net46" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="openrasta-codecs-webforms" version="2.5.5" targetFramework="net46" />
  <package id="openrasta-core" version="2.5.1050" targetFramework="net46" />
  <package id="openrasta-di-castle-windsor" version="2.5.22" targetFramework="net46" />
  <package id="openrasta-hosting-aspnet" version="2.5.25" targetFramework="net46" />
  <package id="System.ServiceModel.Syndication" version="5.0.0" targetFramework="net48" />
  <package id="UriTemplate.Core" version="1.0.2" targetFramework="net48" />
</packages>