<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net40" />
  <package id="jose-jwt" version="1.7.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
</packages>